.banner {
  height: auto;
  position: relative;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  margin-top: 20px;
  pointer-events: none;
}

.banner-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 84px;
}

.banner p{
  font-size: 40px;
}
