.button {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: #82AAD0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 70px;
  height: 70px;
  transition: 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: -5px 6px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-family: Verdana, Arial, sans-serif;
  float: left;
  outline: none;
  line-height: normal;
}

.button:hover {
	width: 140px;
	height: 140px;
  transition: 0.2s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  pointer-events: none;
}

.button span:after {
  position: relative;
  opacity: 0;
}

.button:hover span:after {
  opacity: 1;
  transition: 0.2s;
}

.button-normal {
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  box-shadow: -5px 6px 10px rgba(0, 0, 0, 0.3);
  border: none;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  background-color: blue;
  color: #fff;
}

.button-normal:hover {
  color: yellow;
  background-color: black;
  text-decoration: none;
}

#bares span:after {
  content: "Quero beber!";
}

#comidas span:after {
  content: "Quero comer!";
}

#lugares span:after {
  content: "Quero passear!";
}

#bares {
  margin-left: 78%;
  margin-top: 120px;
  background-color: #61A00B;
  color: #fff;
}

#lugares {
  margin-left: 35%;
  margin-top: 160px;
  background-color: #341377;
  font-size: 24px;
  color: #fff;
}

#comidas {
  margin-left: 80%;
  margin-top: 280px;
  background-color: #1D197A;
  color: #fff;
}

#info-cidade {
  background-color: #0B556D;
  margin-left: 75%;
  margin-top: -110px;
  width: auto;
  height: auto;
  border: none;
}
