body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
  background-image: url("../img/florianopolis-noite.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav ul {
padding: 0;
margin: 0;
list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
