.header-top {
  padding: 15px 0;
  margin: 0;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: #fff;
  color: #000;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  position: fixed;
}

.header-menu li {
  display: inline-block;
  padding: 0 15px;
  font-size: 30px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.header-top a {
  text-decoration: none;
  color: #000 !important;
}
