
.rest-items {
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
  margin-top: 150px;
  margin-bottom: 100px;
  border-radius: 5px;
  width: 90%;
}

.rest-items img {
  width: 400px;
  margin: 0 15px 0 0;
  float: left;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.rest-items h2 {
  font-size: 40px;
}

.rest-items p {
  padding-top: 30px;
  text-align: left;
  font-size: 20px;
}
