/* BANNER */

.banner {
  height: 100vh;
  color: #fff;
  position: relative;
  background-image: url("../img/beach-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.banner:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(-45deg, #0678a9 0%, #ffb700 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0678a9 0%,#ffb700 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0678a9 0%,#ffb700 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.8;
}

.banner .table {
  position: relative;
  z-index: 2;
}

.banner-title {
  margin-bottom: 20px;
  font-size: 84px;
}

.banner p {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
}
 @media (max-width: 600px) {

   .banner .tablecell {
     padding-left: 15px;
     padding-right: 15px;
   }

   .banner br {
     display: none;
   }

   .banner-title {
     font-size: 60px;
   }

 }
