/* BUTTON */

.button {
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  box-shadow: -5px 6px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border: none;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.button-white {
  background: #fff;
  color: #0678a9;
}

.button-white:hover {
  background: #0678a9;
  color: #ffb700;
}

.button-yellow {
  background: #ffb700 ;
  color: #fff;
}

.button-yellow:hover {
  background: #0678a9 ;
  color: #fff;}

.button-color {
  background: #0678a9;
  color: #efefef;
}

.button-color:hover {
  background: #ffb700;
  color: #efefef;
}
