/* CONTACTS */

.box {
  float: left;
  padding: 15px;
  margin-bottom: 15px;
}

.box input {

}

.box h2, p {
  color: #fff;
}

.col-half {
  width: 45%;
  margin: 15px;
}

#message {
  height: 300px;
  width: 250px;
}

#form-div {
  background: #dfffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

#message:focus{
  border-color: #0678a9;
}

.box input:focus {
  border-color: #0678a9;
}

body {
  background: -moz-linear-gradient(-45deg, #0678a9 0%, #ffb700 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0678a9 0%,#ffb700 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0678a9 0%,#ffb700 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.button {
  padding: 12px 12px;
  line-height: 15px;
  float: right;
}
