/* GENERAL */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

h1,
h2,
h3{
  margin: 0 0 15px;
  /*
  Top, left&right, bottom:
  margin: 0 10px 0;

  Top&Bottom, Left&Right:
  0, 10px;

  Top, Right, Bottom, Left:
  0, 10px, 10px, 0;
  */
}

a {
  text-decoration: none;
}

nav ul {
padding: 0; /*Espaçamento interno*/
margin: 0; /*Espaçamento externo*/
list-style: none;
}

.text-blue {
  color: #0678a9;
}

.text-yellow {
  color: #ffb700;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.no-banner {
    padding-top: 78px;
}

a,
input,
textarea,
button {
  outline: none;
}

@media (max-width: 600px) {
  body.no-banner {
      padding-top: 130px;
  }
}
