/* HISTORY */
.no-banner {
  padding-top: 90px;
}

.history-items {
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.history-items img {
  padding: 15px;
  width: 180px;
  margin: 0 15px 15px 0;
  float: left;
}

.rightside img {
  float: right;
}

.rightside {
  text-align: right;
  margin: 0 0 15px;
}
