/* PRODUCTS */
.product-list {
  float: left;
  list-style: none;
}

.product-list li {
  padding-bottom: 15px;
}

.product-list article{
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.product-list img {
  width: 100px;
  margin-bottom: 15px;
}

.col-half {
  width: 45%;
  margin: 15px;
}
